<html>
    <head>

    </head>
    <body>
        <div></div>
        <div>
            <form action="/odeme" method="post">
                Tutar : <input type="number" name="tname">
                <input type="submit" value="Gönder">
              </form>
        </div>
    </body>
</html>